<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome in Doctohere!{% endblock %}</title>



    <!-- Vendor CSS -->
    <link href="{{ asset('m15/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
    <link href="{{ asset('m15/vendors/bower_components/animate.css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('m15/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css') }}" rel="stylesheet">
    <link href="{{ asset('m15/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}" rel="stylesheet">
    <link href="{{ asset('m15/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet">
    <link href="{{ asset('m15/vendors/bootgrid/jquery.bootgrid.min.css') }}" rel="stylesheet">

    <!-- CSS -->
    <link href="{{ asset('m15/css/app.min.1.css') }}" rel="stylesheet">
    <link href="{{ asset('m15/css/app.min.2.css') }}" rel="stylesheet">
    <link rel='stylesheet' href="{{ asset('https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css') }}">
    <link rel='stylesheet' href="{{ asset('https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css') }}">
    <link rel='stylesheet' href="{{ asset('https://cdn.jsdelivr.net/npm/boxicons@2.0.0/css/boxicons.min.css') }}">



    <script>
        window.console = window.console || function(t) {};
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");}
    </script>
</head>
<body>
<header id="header" class="clearfix" data-current-skin="blue">
    <ul class="header-inner">
        <li id="menu-trigger" data-trigger="#sidebar">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="logo hidden-xs">
            <a href="#">Novatel-It & Shomoos</a>
        </li>

        <li class="pull-right">
            <ul class="top-menu">
                <li id="toggle-width">
                    <div class="toggle-switch">
                        <input id="tw-switch" type="checkbox" hidden="hidden">
                        <label for="tw-switch" class="ts-helper"></label>
                    </div>
                </li>

            </ul>
        </li>
    </ul>


    <!-- Top Search Content -->
    <div id="top-search-wrap">
        <div class="tsw-inner">
            <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
            <input type="text">
        </div>
    </div>
</header>

<section id="main" data-layout="layout-1">
    <aside id="sidebar" class="sidebar c-overflow">
        <div class="profile-menu">
            <a href="">
                <div class="profile-pic">
                    <img src="img/profile-pics/1.jpg" alt="">
                </div>

                <div class="profile-info">
                    {{ app.user.email }}

                    <i class="zmdi zmdi-caret-down"></i>
                </div>
            </a>

            <ul class="main-menu">
                <li>
                    <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
                </li>
                <li>
                    <a href=""><i class="zmdi zmdi-camera"></i> Profile Picture</a>
                </li>
                <li>
                    <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}"><i class="zmdi zmdi-time-restore"></i> Logout</a>
                </li>
            </ul>
        </div>

        <ul class="main-menu">

            <!--          ------------------------------   NAV ADMIN   -------------------------------- -->

            {% if is_granted('ROLE_ADMIN') %}
               <li class="active">
                   <a href="index.html"><i class="zmdi zmdi-collection-video"></i> Home</a>
               </li>
            <li class="active">
                <a href="index.html"><i class="zmdi zmdi-home"></i> Patient</a>
            </li>

            <li class="active">
                <a href="index.html"><i class="zmdi zmdi-home"></i> Doctor</a>
            </li>

            <li class="active">
                <a href="index.html"><i class="zmdi zmdi-home"></i> User</a>
            </li>

               <li class="active">
                   <a href="#"><i class="zmdi zmdi-home"></i> Sensor</a>
               </li>

               <li class="active">
                   <a href="#"><i class="zmdi zmdi-home"></i> Sensor State</a>
               </li>


                <li class="active">
                    <a href="index.html"><i class="zmdi zmdi-date"></i> History</a>
                </li>

             {% endif %}
            <!--          ------------------------------   FIN NAV ADMIN   -------------------------------- -->



            <!--          ------------------------------   NAV PATIENT   -------------------------------- -->
            {% if is_granted('ROLE_PATIENT') %}
                <li class="active">
                    <a href="index.html"><i class="zmdi zmdi-collection-video"></i> Home</a>
                </li>
            <li class="active">
                <a href="{{ path('event') }}"><i class="zmdi zmdi-hospital"></i> Event</a>
            </li>

            <li class="active">
                <a href="{{ path('appointment') }}"><i class="zmdi zmdi-badge-check"></i> Appointment</a>
            </li>

            <li class="active">
                    <a href="index.html"><i class="zmdi zmdi-file"></i> Files</a>
            </li>

            {% endif %}

            <!--          ------------------------------   FIN NAV PATIENT   -------------------------------- -->





            <!--          ------------------------------   NAV DOCTOR   -------------------------------- -->
            {% if is_granted('ROLE_DOCTOR') %}
                <li class="active">
                    <a href="index.html"><i class="zmdi zmdi-collection-video"></i> Home</a>
                </li>


                <li class="sub-menu toggled">
                    <a href=""><i class="zmdi zmdi-hospital"></i> Event</a>

                    <ul style="display: block;">
                        <li><a href="{{ path('calendar_index') }}">All Events</a></li>
                        <li><a href="{{ path('homeback') }}">Calendar</a></li>
                        <li><a href="{{ path('calendar_new') }}">Add Event</a></li>
                    </ul>
                </li>






                <li class="sub-menu toggled">
                    <a href=""><i class="zmdi zmdi-badge-check"></i> Appointment</a>

                    <ul style="display: block;">
                        <li><a href="{{ path('calendarappfree') }}">Free</a></li>
                        <li><a href="{{ path('calendarappcheked') }}">Checked</a></li>
                    </ul>
                </li>

                <li class="active">
                    <a href="index.html"><i class="zmdi zmdi-file"></i> Files</a>
                </li>

            {% endif %}

            <!--          ------------------------------   FIN NAV DOCTOR   -------------------------------- -->


        </ul>
    </aside>



</section>
{% block body %}

{% endblock %}





<!-- Javascript Libraries -->
<script src="{{ asset('m15/vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('m15/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('m15/vendors/bower_components/flot/jquery.flot.js') }}"></script>
<script src="{{ asset('m15/vendors/bower_components/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('m15/vendors/bower_components/flot.curvedlines/curvedLines.js') }}"></script>
<script src="{{ asset('m15/vendors/sparklines/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('m15/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>

<script src="{{ asset('m15/vendors/bower_components/moment/min/moment.min.js') }}"></script>
<script src="{{ asset('m15/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js ') }}"></script>
<script src="{{ asset('m15/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js') }}"></script>
<script src="{{ asset('m15/vendors/bower_components/Waves/dist/waves.min.js') }}"></script>
<script src="{{ asset('m15/vendors/bootstrap-growl/bootstrap-growl.min.js') }}"></script>
<script src="{{ asset('m15/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js') }}"></script>
<script src="{{ asset('m15/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ asset('m15/vendors/bower_components/autosize/dist/autosize.min.js') }}"></script>
<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
<script src="{{ asset('m15/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js') }}"></script>
<![endif]-->

<script src="{{ asset('m15/js/flot-charts/curved-line-chart.js') }}"></script>
<script src="{{ asset('m15/js/flot-charts/line-chart.js') }}"></script>
<script src="{{ asset('m15/js/charts.js') }}"></script>
<script src="{{ asset('m15/js/functions.js') }}"></script>
<script src="{{ asset('m15/js/demo.js') }}"></script>

<script src="{{ asset('https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('m15/vendors/bootstrap-growl/bootstrap-growl.min.js') }}"></script>
<script src="{{ asset('m15/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js') }}"></script>

<!-- Vendor CSS -->

</body>
</html>